* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body{
	background-color:rgb(164, 180, 189);
	line-height: calc(3vw + 60%);
}

h1{
	font-size: calc(1.6vw + 40%);
}
h2{
	font-size: calc(1.1vw + 40%);
}
h3{
	font-size: calc(.77vw + 40%);
}
h4{
	font-size: calc(.6vw + 40%);
}
h5{
	font-size: calc(.43vw + 40%);
}

.container {
	width: 85%;
	margin: auto;
}

ul li{
	color: red;
		list-style:decimal;
}
ul li i{
	color: black;
}

ul li h2{
	color: blue;
	display: inline;
}
ul li h2 s{
	color: black;
	font-size: calc(0.1vw + 40%);
}
ul li h2 span{
	font-size: calc(0.1vw + 40%);
	color: aqua;
}
ul li h2 span:nth-child(2){
	font-size: calc(0.1vw + 40%);
	color:lime;
}
ul li h3{
	display: inline;
}